<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500766618405-q52v0nm8k9f9n7lfmknojot2v7sil88m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500766618405-q52v0nm8k9f9n7lfmknojot2v7sil88m</string>
	<key>API_KEY</key>
	<string>AIzaSyApVuibo_up0fkf9UWJ6pOSJCi0kLfGJJk</string>
	<key>GCM_SENDER_ID</key>
	<string>500766618405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>amplified-coder-322522</string>
	<key>STORAGE_BUCKET</key>
	<string>amplified-coder-322522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500766618405:ios:86f18bf62ac03f7ebde0cc</string>
</dict>
</plist>